.category {
  margin-top: 40px;
  width: 100%;
  height: 15%;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  padding: 20px;
  box-sizing: border-box;
}
.category > .categoryTitle {
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.category > .categoryImg {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.category > .categoryImg > .contentIcon {
  width: 10%;
  height: 10%;
  cursor: pointer;
}
