@use './Theme.scss' as theme;

.Challenge{
    background-color: theme.$background;
    z-index: -100;
    position: relative;

    #backgroundCircle {
    width: 585px;
    height: 585px;
    border-radius: 100%;
    position: absolute;
    top: -450px;
    left: -292px;
    background-color: theme.$blue-main;
    z-index: 0;
    }

    .challengContent{
        width: 100%;
        z-index: 100;    
        .ChallengeTitle{
            width: 100%;
            height: 80px;
            position: relative;
            padding-left: 35px;
            padding-right: 35px;

            #ChallengeTitle{
                width: 100%;
                height: 50px;
                text-align: left;
                font-size: 25px;
                font-weight: 900;
            }
            #ChallengeDescription{
                width: 100%;
                height: 30px;
                text-align: right;
                font-size: 15px;
                font-weight: 900;
                color: theme.$blue-dark;
            }
        }

        .ChallengeGoal{
            background-color: white;
            height: 85px;
            margin: 20px;
            z-index: 100;    
            .ChallengeGoalContent{
                width: 100%;
                height: 65px;
                padding: 13px;
                .progress{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    .progress-bar{
                        height: 100%;
                        background-color: theme.$blue-main;
                        position: relative;
                        font-weight: 900;
                    }
                }
                #ChallengeTodaysGoal{
                    width: 100%;
                    height: 30px;
                    padding: 5px;
                    font-size: 12px;
                    font-weight: 900;
                    color: theme.$blue-main;
                }
            }
        }

        .ChallengeTable{
            width: 90%;
            margin: 20px;
            #SelectedDate{
                display: flex;
                height: 20px;
                margin: 10px;
                text-align: left;
                font-weight: 900;
            }
            .ChallengeTableCard{
                width: 95%;
                margin: 10px;
                padding: 10px;
                height: 75px;
                background-color: theme.$blue-light;

                .CardTop{
                    width: 100%;
                    height: 30px;
                    div{
                        height: 100%;
                        width: 30%;
                        float: left;
                        text-align: left;
                        line-height: 40px;
                        font-weight: 900;
                    }
                    #CardLeft{
                        font-size: 14px;
                    }
                    #CardMiddle{
                        width: 40%;
                        font-size: 17px;
                    }
                    #CardRight{
                        text-align: right;
                        font-size: 20px;
                    }   
                }
                .CardBottom{
                    width: 100%;
                    height: 25px;
                    div{
                        height: 100%;
                        width: 30%;
                        float: left;
                        text-align: left;
                    }
                    #CardLeft{
                        font-size: 14px;
                    }
                    #CardMiddle{
                        color: theme.$blue-main;
                        font-size: 14px;
                    }
                }
                
            }
            
        }
        .ChallengeChart{
            width: 86%;
            height: 330px;
            margin: 30px;
            #ChartText{
                margin: 10px 0;
                width: 100%;
                height: 20px;
                text-align: left;
                font-weight: 900;
            }
            #Chart{
                width: 100%;
                height: 300px;
                background: white;
            }
        }
    }
}