.CommunityCategoryContainer {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #D6D6D6;
    background-color: white;
    a {
        color: black;
        text-decoration: none;
    }
}