button.CommunityPostButton{
        border: none;
        background-color: #0D6EFD;
        width:70px;
        height: 70px;
        border-radius: 100%;
        color: #FFFFFF;
        position: fixed;
        right:20px;
        bottom: 20px;

}