button.CommunityPostButton{
        border: none;
        background-color: #0D6EFD;
        width:50px;
        height: 50px;
        border-radius: 100%;
        color: #FFFFFF;
        position: fixed;
        right:30px;
        bottom: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

}