.MyPageContainer {
  width: 100%;
  height: 100%;
  .MyPageTitle {
    font-size: 23px;
    font-weight: 900;
    text-align: left;
    padding: 40px;
    // color: #0d6efd;
  }
  .MyPageProfileBox {
    height: 15%;
    margin-bottom: 10%;
    img {
      width: 65px;
      height: 65px;
      border: 2px solid hwb(216 1% 3%);
      border-radius: 50%;
    }
    .MyPageProfileBtn {
      width: 150px;
    }
    .MyPageChoiceBtn {
      background-color: #ffffff;
      color: #0d6efd;
    }
  }
  .MyPageAddAccount {
    width: 100%;
    height: 20%;
  }
  .MyPageAccounttitle,
  .MyPageInfotitle {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    height: 6%;
    padding: 0 0 15px 25px;
    margin: 8% 0 0 0;
  }
  .MyPageInfoBox > .joinInput {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;
    color: gray;
  }
}
