// 색상
$blue-main: #0D6EFD;
$blue-light: #CFE2FF;
$blue-dark: #084298;

$background: #F8FAFB;

$gray-bar: #DEE2E6;

$chart-blue-1: #4292C6;
$chart-blue-2: #6BAED6;
$chart-blue-3: #9ECAE1;
$chart-blue-4: #DBD778;
$chart-blue-5: #DEEBF7;
$chart-blue-6: #F7FBFF;


