.category {
  width: 100%;
  height: 15%;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}
.category > .categoryTitle {
  text-align: left;
  color: white;
}
.category > .categoryImg {
  display: flex;
  justify-content: space-between;
}
.category > .categoryImg > .contentIcon {
  width: 10%;
  height: 10%;
  cursor: pointer;
}
